In [42]:
inp = "FBFBBFFRLR"

row = ""
for l in inp[:7]:
    row += "0" if l == "F" else "1"
col = ""
for l in inp[7:]:
    col += "0" if l == "L" else "1"

row = int(row,2)
col = int(col,2)

row * 8 + col

357

In [44]:
int(replace(inp, {"F": "0", "B": "1", "L": "0", "R": "1"}),2)

357

In [46]:
def parse_id(seat):
    row = int("".join(["0" if l == "F" else "1" for l in seat[:7]]),2)
    col = int("".join(["0" if l == "L" else "1" for l in seat[7:]]),2)

    return row*8+col

In [47]:
with open("data/05.txt") as f:
    print(max(parse_id(l.strip()) for l in f.readlines()))

892

## Part 2

In [48]:
def parse(seat):
    row = int("".join(["0" if l == "F" else "1" for l in seat[:7]]),2)
    col = int("".join(["0" if l == "L" else "1" for l in seat[7:]]),2)

    return row,col

In [49]:
with open("data/05.txt") as f:
    seats = [parse(l.strip()) for l in f.readlines()]

In [50]:
last, first  = max(map(lambda x: x[0], seats)), min(map(lambda x: x[0], seats))

In [88]:
def get_id(row, col):
    return row*8+col

In [94]:
ids = set()
for row in range(first+1, last):
    for col in range(8):
        ids.add(get_id(row, col))

In [95]:
seat_ids = set(map(lambda seat: get_id(*seat), seats))

In [96]:
ids.difference(seat_ids)

{625}

In [18]:
seat = 357

row, col = seat // 8, seat%8

In [19]:
row, col

(44, 5)

In [22]:
"".join(["B" if d == "1" else "F" for d in bin(row)[2:].zfill(7)] + ["R" if d == "1" else "L" for d in bin(col)[2:].zfill(3)])

'FBFBBFFRLR'

In [38]:
def replace(s, table):
    for k, v in table.items():
        s = s.replace(k, v)
    return s

In [41]:
binary = f"{seat:0>10b}"
row = binary[:7]
col = binary[7:]

replace(row, {"1": "B", "0": "F"}) + replace(col, {"1": "R", "0": "L"})

'FBFBBFFRLR'

# Cool short solution

In [7]:
from functools import reduce
seats = sorted(int(seat.translate(str.maketrans('FBLR','0101')), 2) for seat in open("data/05.txt"))

seats[-1], reduce(lambda a,b: b if a+1==b else a, seats, seats[0]-1) + 1

(892, 625)

625